<div id="toplist_div">
    <div class="row no_padding no_margin">
        <img class="flags" src="app/img/Flagg_medstreker.png" />
    </div>

    <div class="row no_padding no_margin">
        <h2 class="bouvet_orange_text" id="toplist_text"> TOPPLISTE </h2>
    </div>


    <div class="row no_padding no_margin">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">

            <table class="table_record" *ngFor="let record of toplist; let idx = index" [class]="idx > 0 ? 'table_record' : 'table_first_place'">
                <tr>
                    <td class="bouvet_background_orange grey_text toplist_table_postion"><b><i>{{idx+1}}.</i></b> </td>
                    <td class="grey_text toplist_table_name">{{record.name | uppercase}}</td>
                    <td class="grey_text toplist_table_firm hidden-xs">{{record.company | uppercase}}</td>
                    <td class="grey_text" id="welcome_third_time">
                        <span class="glyphicon glyphicon-time bouvet_orange_text toplist_table_best_time_glyph"></span> {{record.time | recordTime:'m'}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>