#map_game{
    z-index:10;
    height: 100vh;
}

#controls_div{
    bottom:120px;
    width:100%;
    text-align:center;
    position: absolute;
    z-index:12;
    text-align:center;
}

#car_div{
    position:absolute;
    top:50vh;
    left:50%;
}

#woops_div{
    position:absolute;
    top:50vh;
    left:50%;
    z-index:40;
}

#woops_img{
    width:60px;
    height:60px;

    margin-left:-30px;
    margin-top:-30px;
}

#time_text{
    position:absolute;
    top:70px;
    left:50%;
    z-index:51;

    width:50px;
    margin-left:-25px;
    text-align:center;
}

#car_img{
    width:30px;
    height:40px;
    margin-top:-20px;
    margin-left:-15px;
    border: 0px solid white;
}

#restart_div{
    position:absolute;
    bottom:170px;
    left:16px;
}

#w_key{
    height:50px;
}

#s_key{
    height:50px;
}

#other_div_game{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100vh;
    z-index:11;
}

#speedometer{
    position:absolute;
    bottom:0px;
    width:100%;
    height:250px;
}

#speedometer_div{
    position:absolute;
    width:100%;
    top:30px;
}

#speedometer_background_div{
    position:absolute;
    width:150px;
    height:150px;
    border-radius: 75px;
    left:50%;
    margin-left:-75px;
    z-index:-10;
}

#speedometer_background{
    width:120px;
    margin-top:3px;
    z-index:50;
}

#speedometer_needle{
    z-index:800;
    height:105px;
    margin-top:30px;
}



