
<div style="margin: 0px 0px 0px 0px; text-align: center; margin-top:0">
    <div id="map_game">

    </div>

    <div id="other_div_game">


        <div class="game-controls-holder">

            <div *ngIf="showCountDownTimer">
                <countdown-game (startGameCountdown)="startGameFromCountdown($event)">
                </countdown-game>
            </div>

            <div id="controls_div" *ngIf="showCountDownTimer">
                <!--
                    <img id="w_key" src="app/img/w_key_t.png" />
                    <img id="s_key" src="app/img/s_key_t.png" />
                -->

                <div id="w_key_div">
                    <button id="w_key" class="bouvet_orange_border arrow_keys"><span class="glyphicon glyphicon-chevron-up"></span></button>
                </div>

                <div id="s_key_div">
                    <button id="s_key" class="bouvet_orange_border arrow_keys"><span class="glyphicon glyphicon-chevron-down"></span></button>
                </div>

                <p class="grey_text" id="helper_text">
                    Bruk piltastene og følg den oppmerkede veien fra våre gamle <br />
                    lokaler på Myrens til våre splitter nye i Sørkedalsveien 8!
                </p>

            </div>
        </div>
        <div *ngIf="setUpComplete">

        </div>

        <div id="car_div">
            <img id="car_img" *ngIf="zoomedToStartArea" />
        </div>

        <div id="woops_div" class="tada-animation" *ngIf="showWoops">
            <img src="app/img/Woops.png" id="woops_img" />
        </div>

        <div id="speedometer" *ngIf="setUpComplete">
            <div id="speedometer_div">
                <div class="background_grey bouvet_orange_border" id="speedometer_background_div">
                </div>
                <img id="speedometer_background" src="app/img/Speedometer_stor.png" />
            </div>
            <img id="speedometer_needle" />
            <p id="time_text" class="white_text">{{gameTime | recordTime:'m'}}</p>
        </div>

        <div id="restart_div" *ngIf="zoomedToStartArea && !isTouchDevice && setUpComplete">
            <button class="button bouvet_button restart-button" (click)="restartGameFromButton()">
                <span data-hover="OMSTART" class="white_text">OMSTART</span>
            </button>
        </div>

        <!-- -->
        <div *ngIf="showGoal">
            <goal [completionTime]="completionTime" (saveRecord_eventEmitter)="saveRecord()" (goToAboutPage_eventEmitter)="goToAboutPage()" >

            </goal>
        </div>
    </div>
</div>
<div id="mobile-controller" *ngIf="isTouchDevice && setUpComplete">
    <div class="controllers">
        <div>
            <button class="restart bouvet_button bouvet_orange_border">restart</button>
            <button class="up bouvet_button bouvet_orange_border">up</button>
            <button class="down bouvet_button bouvet_orange_border">down</button>
        </div>
    </div>
</div>
