
<div style="margin: 0px 0px 0px 0px; text-align: center; margin-top:0">
    <div id="map_game">

    </div>

    <div id="other_div_game">
        <div *ngIf="showCountDownTimer">
            <countdown-game (startGameCountdown)="startGameFromCountdown($event)">

            </countdown-game>
        </div>



        <div id="controls_div" *ngIf="showCountDownTimer">
            <!--
                <img id="w_key" src="app/img/w_key_t.png" />
                <img id="s_key" src="app/img/s_key_t.png" />
            -->

            <div id="w_key_div">
                <button id="w_key" class="bouvet_orange_border arrow_keys"><span class="glyphicon glyphicon-chevron-up"></span></button>
            </div>

            <div id="s_key_div">
                <button id="s_key" class="bouvet_orange_border arrow_keys"><span class="glyphicon glyphicon-chevron-down"></span></button>
            </div>

            <p class="grey_text" id="helper_text">
                Bruk piltastene og følg den oppmerkede veien fra våre gamle <br />
                lokaler på Myrens til våre splitter nye i Sørkedalsveien 8!
            </p>

        </div>

        <div *ngIf="setUpComplete">

        </div>

        <div id="car_div">
            <img id="car_img" *ngIf="zoomedToStartArea" />
        </div>

        <div id="woops_div" *ngIf="showWoops">
            <img src="app/img/Woops_liten.png" id="woops_img" />
        </div>

        <div id="speedometer" *ngIf="setUpComplete">
            <div id="speedometer_div">
                <div class="background_grey bouvet_orange_border" id="speedometer_background_div">

                </div>
                <img id="speedometer_background" src="app/img/Speedometer_stor.png" />
            </div>
            <img id="speedometer_needle" />
            <p id="time_text" class="white_text">{{gameTime | recordTime:'m'}}</p>
        </div>

        <div id="restart_div" *ngIf="zoomedToStartArea">
            <button class="button bouvet_button" (click)="restartGameFromButton()">
                <span data-hover="OMSTART" class="white_text">OMSTART</span>
            </button>
        </div>

        <!-- -->
        <div *ngIf="showGoal">
            <goal [completionTime]="completionTime" (saveRecord_eventEmitter)="saveRecord()" (goToAboutPage_eventEmitter)="goToAboutPage()" id="goal_div">

            </goal>
        </div>


    </div>
</div>
