body {
    background-color: #333!important;
}

.white_text{
    color:white;
}

.grey_text{
    color:#d0d0d0;
}

.underline_text{
    text-decoration: underline;
}

.bouvet_orange_text{
    color:#f37021;
}

.no_margin{
    margin:0px 0px 0px 0px !important;
}

.no_padding{
    padding:0px 0px 0px 0px !important;
}

.bouvet_background_orange{
    background-color:#f37021;
}

.bouvet_orange_border{
    border: 1px solid;
    border-color:#f37021;
}

/*
.bouvet_button{
    background-color:transparent;
    color:white;
    padding: 5px 25px 5px 25px;
    margin-top: 15px;
    font-size: 12px;
}

.bouvet_button:hover{
    background-color:#f37021;
    border-color:#808080;
}
*/


/*
   Bouvet Button Css3 Hover styling starts here.
*/
.bouvet_button{
    font-family: 'Kohinoor Bangla';
    padding: 0px;
    font-size: 12px;
    line-height: 37px;
   /* margin: 15px auto;*/
    border: none;
    background: transparent;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    text-align: center;
}

.bouvet_button span{

    text-transform: uppercase;
    letter-spacing: 3px;
    background: transparent;
    height: 40px;
    width: 190px;
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border: 1px solid #f37021;
    color: white;
}

.bouvet_button span:before{

    position: absolute;
    top: 100%;
    left: -1px;
    height: 40px;
    width: 191px;
    background: #f37021;
    color:#ffffff;
    content: attr(data-hover);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #ffffff;

}


.bouvet_button:hover span{
    -webkit-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
}

/*
    Bouvet Button Css3 Hover styling ends here.
*/

#welcome_carousel .carousel-inner{

    overflow: visible;
}



.background_dark{
    background-color:rgba(0, 0, 0, 0.70);
}

.background_grey{
    background-color:rgba(0, 0, 0, 0.30);
}

.flags{
    height:6vh;
    padding-bottom:10px;
}

/* unvisited link */
a:link {
    text-decoration: none;      
}

/* visited link */
a:visited {
    text-decoration: none;      
}

/* mouse over link */
a:hover {
    text-decoration: none;      
}

/* selected link */
a:active {
    text-decoration: none;      
}

.toplist_table_postion{
    padding:10px 0px 10px 0px;
    width:35px;
    text-align:center;
}


.toplist_table_name{
    padding: 10px 10px 10px 20px;
    width: 40%;
}

.toplist_table_firm{
    width: 20%;
}

.toplist_table_best_time_glyph{
    border-left: solid 1px;
    border-color:#f37021;
    padding-left:40px;
    padding-right:10px;
}

.table_first_place{
    width:100%;
    background-color:rgba(0, 0, 0, 0.70);
    border: solid 1px;
    border-color:#f37021;
    margin-bottom:15px;
}

.navbar_bottom_game_logo_div{
    pointer-events:none;
}

.table_record{
    width:100%;
    background-color:rgba(0, 0, 0, 0.70);
    margin-bottom:15px;
    height: 40px;
}

@font-face {
    font-family: 'Kohinoor Bangla';
    src: url('app/fonts/KohinoorBangla.eot'); /* IE9 Compat Modes */
    src: url('app/fonts/KohinoorBangla.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('app/fonts/KohinoorBangla.woff') format('woff'), /* Modern Browsers */
    url('app/fonts/KohinoorBangla.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('app/fonts/KohinoorBangla.svg#bbce4d667c58f15ca19219bb39d0a219') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}




@font-face {
    font-family:'OpenSansRegular'; /*a name to be used later*/
    src: url('app/fonts/OpenSansRegular.ttf') format('truetype'); /*URL to font*/
}

@font-face {
    font-family: 'DAGGERSQUARE';
    src: url('app/fonts/DAGGERSQUARE.eot'); /* IE9 Compat Modes */
    src: url('app/fonts/DAGGERSQUARE.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('app/fonts/DAGGERSQUARE.woff') format('woff'), /* Modern Browsers */
    url('app/fonts/DAGGERSQUARE.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('app/fonts/DAGGERSQUARE.svg#d02e21bd02a940790d80e4fdeac6d42c') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}

@font-face {
    font-family: 'DAGGERSQUARE_OBLIQUE';
    src: url('app/fonts/DAGGERSQUARE OBLIQUE.eot'); /* IE9 Compat Modes */
    src: url('app/fonts/DAGGERSQUARE OBLIQUE.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('app/fonts/DAGGERSQUARE OBLIQUE.woff') format('woff'), /* Modern Browsers */
    url('app/fonts/DAGGERSQUARE OBLIQUE.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('app/fonts/DAGGERSQUARE OBLIQUE.svg#1e91e374818370144489d52258ad256e') format('svg'); /* Legacy iOS */

    font-style:   oblique;
    font-weight:  400;
}

p{
    font-family: 'OpenSansRegular', sans-serif;
}

button{
    font-family: 'OpenSansRegular', sans-serif;
    letter-spacing: 1px;
}

.letter_spacing{
    letter-spacing: 1px;
}

h1{
    font-family: 'DAGGERSQUARE_OBLIQUE', sans-serif;
}

h2{
    font-family: 'DAGGERSQUARE_OBLIQUE', sans-serif;
}

.daggerSquare{
    font-family: 'DAGGERSQUARE_OBLIQUE', sans-serif;
}

.text_letters_space_l{
    letter-spacing: 3px;
}

button:focus{
    outline: none !important;
}

.leaflet-container {
    background-color:rgb(50, 50, 50) !important;
}