BouvetGrandPrixAngular/app/**/*.js.map
BouvetGrandPrixAngular/app/**/*.js
BouvetGrandPrixAngular/dist/
BouvetGrandPrixAngular/dist/app/**/*.js
BouvetGrandPrixAngular/dist/time.pipe.js
BouvetGrandPrixAngular/*.log
BouvetGrandPrixAngular/.idea
BouvetGrandPrixAngular/.DS_Store
/BouvetGrandPrixAngular/app/img/Speedometernål_stor.png
/BouvetGrandPrixAngular/app/img/Speedometernål_medium.png
/BouvetGrandPrixAngular/app/img/Speedometernål_liten.png
/BouvetGrandPrixAngular/app/img/Bilder med lykter/Mørkeblåbil_.png
/BouvetGrandPrixAngular/app/img/Bilder med lykter/Lysblåbil.png
/BouvetGrandPrixAngular/node_modules/nan
/BouvetGrandPrixAngular/node_modules/fsevents
