
#choseCar_div{
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 0;
    width:100%;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);


}

.car_image{
    width: 37px;
    height: 69.9px;
    position: absolute;
    top: 50%;
    left:50%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.car_image_asdf:hover {
    border: 1px solid #f37021;
}

#flags_chose_car_screen{
    height:6vh;
}

.drive_text{
    width: 100%;
    cursor:pointer;
}

.hidden {
    display: none;
}

.car_seleciton_div{
    width:120px;
    height:120px;
    display: inline-block;
    border: 1px solid #343434;
    position: relative;
    cursor: pointer;
}

.car_seleciton_div:hover{

    border-color: #F37021;
}

.car_seleciton_div_parent{
    text-align:center;
    display: inline-block;
    margin: 10px;
}

.car_seleciton_div:hover .visible
{
    display: none;
}

.car_seleciton_div:hover .hidden {
    display: block !important;
    position: absolute;
    /*top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 120px;
}

.hidden, .visible {
    margin: 0px 0px 0px 0px;

}


#car_seleciton{
    padding-top:25px;
}

#div_with_extra_margin_for_desktop{

}

@media (max-width: 768px) {

    #choseCar_div{
        position: absolute;
        padding-top: 80px;
        left: 0;
        width: 100%;
        top: 0;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
         transform: translate(0%, 0%);
        bottom: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}