body {
}

#div_arrows{
    position: absolute;
    top: 450px;
    left: 100px;
}

#w_key{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity:0.5;
    z-index:3;
}

#s_key{
    position: absolute;
    top: 110px;
    left: 30px;
    opacity:0.5;
    z-index:3;
}

#map { 
    position: absolute;
    height:100vh;
    width:100%;
    z-index: 1;
}

#map_overlay{
    position: absolute;
    height:100vh;
    width:100%;
    z-index: 2;
    background-color:rgba(20, 19, 19, 0.55);
}

.full_screen_width_no_side_padding{
    width:100%;
}

#navbar_top_body{
    padding-top:15px;
    padding-left:15px;
    background-color:transparent;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

#navbar_top_links{
    color:white;
    padding-right:30px;
}

#navbar_top_links_extra{
    border: 1px solid;
    padding: 4px 4px 4px 4px;
    border-color: #d45a1f;
}

.icon_border{
    border: 1px solid;
    padding: 4px 4px 4px 4px;
    border-color: #d45a1f;
}

#bouvet_logo{
    background-color:transparent;
    font-size:24px;
    font-weight: bold;
}

.no_padding{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#navbar_bottom_body{
    border: 0px solid; 
}

#navbar_bottom{
    background-color:transparent;
}


#navbar_bottom_social{
    color:white;
    width: 100%;
    text-align: right;
    padding-right:25px;
}


.navbar_bottom_box{
    background-color: #141313;
    border: 4px solid; 
    border-right: 2px solid; 
    border-left: 2px solid; 

    height:54px;
    width:100%;
}

.bouvet_orange_text{
    color:#d45a1f;
}

.bouvet_orange_border{
    border-color:#d45a1f;
}


#navbar_bottom_first_box{
    text-align: center;
    color:#f5f5f5;
    border-color:#2f2f2f;
}

#navbar_bottom_first_box_text{
   padding-top: 14px;
}

.navbar_bottom_box_placement_text{
    font-size:12px;
    font-weight: bold;
    margin-bottom:-8px;
}


.navbar_bottom_box_time_text{
    text-align: center;
    color:#f5f5f5;
    font-size:12px;
}

.navbar_bottom_box_name_text{
    text-align: center;
    color:#a4a4a4;
    font-size:10px;
}


#main_container {
    width:100%;
}

.leaflet-tile {
    outline: 1px solid transparent;
}