<div id="prize_page">
    <div class="prize-page-container">
        <h1>PREMIE</h1>
        <p>
            De tre raskeste sjåførene vinner<br> hver sin flaske med vann. <br>
            <span class="blir-det-deg">Blir det deg?</span>
        </p>
        <button class="button bouvet_orange_border bouvet_button" id="start_engine_button_modal"
                routerLink="/choseCar" data-dismiss="modal">
            <span data-hover="KJØR!" class="ng-binding">SPILL GRAND PRIX</span>
        </button>
    </div>
</div>
<div id="background_prizePage"></div>
