#goal_div{
    padding-top:20vh;
    background-color:rgba(0,0,0,0.7);
    height:100vh;
}

#goal_div >div{

    max-width: 660px;
    margin: 0 auto;
}

#goal_div .table_first_place td:first-child{

    width:150px;
}

#goal_div .table_from_buttons{

    width: 100%;
}

#goal_div .table_from_buttons td{

    width:50%;
}

#goal_div .table_from_buttons .bouvet_button {

    margin: 0px 12px 12px 0px;
}

#goal_div .bouvet_orange_text{

    font-size: 64px;
}

#flags_goal_screen{
}

.goal_text_description{
    padding:8px 5px 8px 25px;
    margin:0 0 0 0;
}

.goal_text_input{
    background-color:transparent;
    border:0px solid white;
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    font-family: 'Kohinoor Bangla';
    font-size: 13px;
    color: white;
}

input:focus{
    outline: none;
}

@media (max-width: 768px) {

    #goal_div{

        padding-top: 80px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    #goal_div .table_from_buttons td{

        width:100%;
        float: left;
        padding-bottom: 12px;
        text-align: center;
    }



    #goal_div .bouvet_orange_text{

        font-size: 48px;
    }

    #goal_div p{

        padding: 0 20px;
    }
}