<div id="goal_div" class="row">
    <div class="col-lg-6 col-lg-offset-3
                col-md-8 col-md-offset-2
                col-sm-8 col-sm-offset-1
                col-xs-12 col-xs-offset-0">

        <div>
            <img id="flags_goal_screen" src="app/img/Flagg_medstreker.png" />
        </div>

        <div>
            <h2 class="bouvet_orange_text"> <b>
                                                {{completionTime_string}}
                </b>
            </h2>
            <p class="white_text"> Fyll ut informasjon for å se hvor du havnet på resultatlisten.</p>


            <div>
                <input type="text" value="FORNAVN" id="goal_fornavn" class="bouvet_orange_border goal_input_textfield white_text background_dark" />
                <input type="text" value="ETTERNAVN" id="goal_etternavn" class="bouvet_orange_border goal_input_textfield white_text background_dark" />
                <input type="text" value="BEDRIFT" id="goal_bedrift" class="bouvet_orange_border goal_input_textfield white_text background_dark" />
            </div>

            <div class="row">
                <div class="col-sm-6 col-xs-6" id="go_to_front_page_button_div">
                    <button class="button bouvet_button bouvet_orange_border background_dark">
                        REGISTRER TIDEN
                    </button>
                </div>

                <div class="col-sm-6 col-xs-6" id="play_grand_prix_button_div">
                    <button class="button bouvet_button bouvet_orange_border background_dark">
                        OM BOUVET-HUSET
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>