<div id="count_down_div">
    <div class="row no_margin">
        <img id="flags_countdown" class="flag-element" src="app/img/Flagg_medstreker.png" />
    </div>
    <div id="count_down_text" class="white_text count_down_text_hoverEffect background_grey daggerSquare">
        <div *ngIf="!showCountDownTimer">
           <img src="app/img/BouvetGrandPrix_Medium_hvit.png" class="grandprix-logo" alt="bouvet grandprix" >
            <h6>VEIEN TIL SØRKELDALSVEIEN 8</h6>
        </div>
       <i> {{countDownTimer}}  </i>
       <i id="countDownTimer_drive"> {{countDownTimer_drive}}  </i>
    </div>
</div>


