<div class="container" id="main_container">
    <div class="row">
        <div id="map_overlay">
        </div>

        <div id="map">
        </div>

        <div id="router_outlet_div">
            <router-outlet></router-outlet>
        </div>
    </div>


    <!-- Navbar top -->
    <nav class="navbar navbar-default navbar-fixed-top" id="navbar_top_body">
        <div class="navbar-header bouvet_orange_text transparent" id="bouvet_logo">
            <p> bouvet </p>
        </div>

        <div class="navbar-right" id="navbar_top_links">
            <div>
                <p>
                    <a routerLink="/about" id="about_bouvet_house_link">OM BOUVET-HUSET</a> &nbsp; &nbsp; 
                    <span class="bouvet_orange_text"> | </span> &nbsp; &nbsp;
                    TOPPLISTE &nbsp; &nbsp;

                    <span class="glyphicon glyphicon-menu-hamburger bouvet_orange_border icon_border"></span>
                </p>
            </div>
        </div>
    </nav>

    <!-- Navbar bottom -->
    <nav class="navbar navbar-default navbar-fixed-bottom" id="navbar_bottom_body">
        <div class="container full_screen_width_no_side_padding" id="navbar_bottom">

            <div class="row" id="navbar_bottom_top">
                <div id="navbar_bottom_social">
                    <p>
                        <span class="glyphicon glyphicon-user bouvet_orange_border icon_border" id="twitter_icon"></span><span class="glyphicon glyphicon-user bouvet_orange_border icon_border" id="facebook_icon"></span>
                        
                        &nbsp; &nbsp;
                        <span class="glyphicon glyphicon-volume-off bouvet_orange_border icon_border" id="speaker_icon"></span>
                        <!--span class="glyphicon glyphicon-volume-up" id="speaker_icon"> </span -->
                    </p>
                </div>
            </div>

            <div class="row" id="navbar_bottom_bottom">
                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no_padding">
                    <div class="navbar_bottom_box" id="navbar_bottom_first_box">
                        <p id="navbar_bottom_first_box_text"> <span class="glyphicon glyphicon-time bouvet_orange_text"></span>  TIDER </p>
                    </div>
                </div>

                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no_padding">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">1.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.24.12</p>
                        <p class="navbar_bottom_box_name_text no_padding">KNUT HARALD</p>
                    </div>
                </div>

                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no_padding">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">2.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.24.72</p>
                        <p class="navbar_bottom_box_name_text no_padding">MARIE</p>
                    </div>
                </div>

                <div class="col-lg-1 col-md-2 col-sm-3 hidden-xs no_padding">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">3.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.24.98</p>
                        <p class="navbar_bottom_box_name_text no_padding">JOHANNE</p>
                    </div>
                </div>

                <div class="col-lg-1 col-md-2 hidden-sm no_padding hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">4.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">ESPEN</p>
                    </div>
                </div>

                <div class="col-lg-1 col-md-2 hidden-sm no_padding hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">5.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">HENRIK</p>
                    </div>
                </div>

                <div class="col-lg-1 no_padding hidden-md hidden-sm hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">6.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">KARIANNE</p>
                    </div>
                </div>

                <div class="col-lg-1 no_padding hidden-md hidden-sm hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">6.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">KATRINE</p>
                    </div>
                </div>

                <div class="col-lg-1 no_padding hidden-md hidden-sm hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">8.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">TRINE SOFIE</p>
                    </div>
                </div>

                <div class="col-lg-1 no_padding hidden-md hidden-sm hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">9.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">STIAN</p>
                    </div>
                </div>

                <div class="col-lg-1 no_padding hidden-md hidden-sm hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">10.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">JOAKIM</p>
                    </div>
                </div>

                <div class="col-lg-1 no_padding hidden-md hidden-sm hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">11.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">PATRIK</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
