<div class="container" id="main_container">
    <div class="row">
        <div id="map_overlay">
        </div>

        <div id="map">
        </div>

        <div id="router_outlet_div">
            <router-outlet id="router_outlet"></router-outlet>
        </div>
    </div>


    <!-- Navbar top -->
    <nav class="navbar navbar-default navbar-fixed-top" id="navbar_top_body">
        <div class="container-fluid">
            <div class="nav navbar-header" id="navbar_top_links">
                <span class="glyphicon glyphicon-menu-hamburger bouvet_orange_border icon_border"
                      data-target="#menu_modal" data-toggle="modal"></span>
            </div>

            <div class="nav navbar-nav navbar-right" id="bouvet_logo_div">
                <a href="http://www.bouvet.no">
                    <p class="bouvet_orange_text transparent" id="bouvet_logo"> bouvet </p>
                </a>
            </div>
        </div>
    </nav>


    <div class="modal fade" id="menu_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content text_letters_space_l">
                <div class="modal-body" id="meny_modal_body">
                    <div class="row">
                        <img class="flags" src="app/img/Flagg_medstreker.png" />
                    </div>

                    <div class="row">
                        <h3 class="white_text modal_text" data-dismiss="modal" routerLink="/toplist"> TOPPLISTE </h3>
                    </div>
                    
                    <div class="row">
                        <h3 class="white_text modal_text" data-dismiss="modal" routerLink="/about"> OM BOUVET-HUSET </h3>
                    </div>

                    <div class="row">
                        <h3 class="white_text modal_text" data-dismiss="modal"> PREMIE </h3>
                    </div>

                    <div class="row">
                        <a href="http://www.bouvet.no" class="white_text modal_text" data-dismiss="modal">
                            <h3> GÅ TIL BOUVET.NO </h3>
                        </a>
                    </div>

                    <div class="row">
                        <button class="button bouvet_orange_border bouvet_button" id="start_engine_button_modal" 
                                routerLink="/choseCar" data-dismiss="modal">
                            SPILL GRAND PRIX
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar bottom -->
    <nav class="navbar navbar-default navbar-fixed-bottom hidden-xs" id="navbar_bottom_body">
        <div class="container full_screen_width_no_side_padding" id="navbar_bottom">

            <div class="row" id="navbar_bottom_top">
                <div id="navbar_bottom_game_logo_div">
                    <img id="navbar_bottom_game_logo" src="app/img/BouvetGrandPrix_Stor.png" routerLink="" class="btn"/>
                </div>

                <div id="navbar_bottom_social">
                    <p>
                        <span class="glyphicon glyphicon-user bouvet_orange_border icon_border" id="twitter_icon"></span><span class="glyphicon glyphicon-user bouvet_orange_border icon_border" id="facebook_icon"></span>
                        
                        &nbsp; &nbsp;
                        <span class="glyphicon glyphicon-volume-off bouvet_orange_border icon_border" id="speaker_icon"></span>
                        <!--span class="glyphicon glyphicon-volume-up" id="speaker_icon"> </span -->
                    </p>
                </div>
            </div>

            <div class="row hidden-xs" id="navbar_bottom_bottom">
                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no_padding">
                    <div class="navbar_bottom_box" id="navbar_bottom_first_box">
                        <p id="navbar_bottom_first_box_text"> <span class="glyphicon glyphicon-time bouvet_orange_text"></span>  TIDER </p>
                    </div>
                </div>

                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no_padding">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">1.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.24.12</p>
                        <p class="navbar_bottom_box_name_text no_padding">KNUT HARALD</p>
                    </div>
                </div>

                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 no_padding">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">2.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.24.72</p>
                        <p class="navbar_bottom_box_name_text no_padding">MARIE</p>
                    </div>
                </div>

                <div class="col-lg-1 col-md-2 col-sm-3 hidden-xs no_padding">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">3.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.24.98</p>
                        <p class="navbar_bottom_box_name_text no_padding">JOHANNE</p>
                    </div>
                </div>

                <div class="col-lg-1 col-md-2 hidden-sm no_padding hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">4.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">ESPEN</p>
                    </div>
                </div>

                <div class="col-lg-1 col-md-2 hidden-sm no_padding hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">5.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">HENRIK</p>
                    </div>
                </div>

                <div class="col-lg-1 no_padding hidden-md hidden-sm hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">6.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">KARIANNE</p>
                    </div>
                </div>

                <div class="col-lg-1 no_padding hidden-md hidden-sm hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">6.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">KATRINE</p>
                    </div>
                </div>

                <div class="col-lg-1 no_padding hidden-md hidden-sm hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">8.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">TRINE SOFIE</p>
                    </div>
                </div>

                <div class="col-lg-1 no_padding hidden-md hidden-sm hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">9.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">STIAN</p>
                    </div>
                </div>

                <div class="col-lg-1 no_padding hidden-md hidden-sm hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">10.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">JOAKIM</p>
                    </div>
                </div>

                <div class="col-lg-1 no_padding hidden-md hidden-sm hidden-xs">
                    <div class="navbar_bottom_box">
                        <p class="bouvet_orange_text navbar_bottom_box_placement_text no_padding">11.</p>
                        <p class="navbar_bottom_box_time_text no_padding">00.25.10</p>
                        <p class="navbar_bottom_box_name_text no_padding">PATRIK</p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
