
#welcome_carousel{
    height:80vh;
}

#item_1{
    height:80vh;
}

#item_2{
    height:80vh;
}

#table_first_place{
    width:100%;
    background-color:rgba(0, 0, 0, 0.70);
    border: solid 1px;
    border-color:#f37021;;
    margin-bottom:15px;
}

#table_second_place{
    width:100%;
    background-color:rgba(0, 0, 0, 0.70);
    margin-bottom:15px;
}

#table_third_place{
    width:100%;
    background-color:rgba(0, 0, 0, 0.70);
    margin-bottom:15px;
}

.welcome_table_postion{
    padding:10px 0px 10px 10px;
    width:35px;
}


.welcome_table_name{
    padding: 10px 10px 10px 20px;
    width: 40%;
}

.welcome_table_firm{
    width: 20%;
}

.welcome_table_first_time_glyph{
    border-left: solid 1px;
    border-color:#f37021;;
    padding-left:40px;
    padding-right:10px;
}

#carousel_indicator_1{

}

#carousel_indicator_2{
    
}

#bouvet_log_welcome_screen{
    height:19vh;
    padding-bottom:15px;
    margin-left:-15px;
}

#welcome_screen_bestTimes{
    margin: 0 0 0 0;
}

.carousel-indicators { 
    position: absolute; 
    top: 50vh; 
    left: 50%; 
    width: 60%; 
    padding-left: 0; 
    margin-left: -30%; 
    text-align: center; 
    list-style: none; 
}

.carousel-indicators li {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 10px;
    border-radius: 0px;
    text-indent: 0;
    cursor: pointer;
    border: solid 1px;
    border-color:#f37021;; 
}
.carousel-indicators .active {
    width: 18px;
    height: 18px;
    margin: 10px;
    border-radius: 0px;
    background-color: transparent;
    background-color:#f37021;; 
    border-color:white; 
}