#welcome_div{
  margin: 0px 0px 0px 0px;
  text-align: center;

  position: relative;
  top: 50vh;
  transform: perspective(1px) translateY(-50%);
}

#welcome_carousel{

}

#item_1{
    height:500px;
}

#item_2{
    height:500px;
}

#carousel_indicator_1{

}

#carousel_indicator_2{
    
}

#bouvet_log_welcome_screen{
    height:25vh;
    padding-bottom:15px;
    margin-left:-15px;
}

#welcome_screen_bestTimes{
    margin: 0 0 0 0;
}

.carousel-indicators { 
    position: absolute; 
    top: 50vh; 
    left: 50%; 
    width: 60%; 
    padding-left: 0; 
    margin-left: -30%; 
    text-align: center; 
    list-style: none; 
}

.carousel-indicators li {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 10px;
    border-radius: 0px;
    text-indent: 0;
    cursor: pointer;
    border: solid 1px;
    border-color:#f37021;; 
}
.carousel-indicators .active {
    width: 18px;
    height: 18px;
    margin: 10px;
    border-radius: 0px;
    background-color: transparent;
    background-color:#f37021;; 
    border-color:white; 
}