
<div style="margin: auto; text-align: center; margin-top:230px">
    <div class="carousel slide" id="welcome_carousel" data-interval="4000">
        <div class="carousel-inner" id="carousel_background">
            <div class="item active">
                <h1 style="margin-bottom:15px" class="bouvet_orange_text">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BOUVET<br />GRAND<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PRIX
                </h1>
                <p style="color:white">
                    2. Januar 2017 flytter vi til Sørkedalsveien 8 på Majorstuen. <br />
                    Nå kan du prøvekjøre veien, uten fartsgrense! <br />
                    Er du raskest, vinner du - noe fint :) <br />
                </p>

                <button class="button bouvet_orange_border" id="start_engine_button">
                    START MOTOREN
                </button>
            </div>

            <div class="item">
                <h2> Hello ! </h2>
            </div>
        </div>
    </div>
</div>

