body {
}

#div_arrows{
    position: absolute;
    top: 450px;
    left: 100px;
}

#w_key{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity:0.5;
    z-index:2;
}

#s_key{
    position: absolute;
    top: 110px;
    left: 30px;
    opacity:0.5;
    z-index:2;
}

#map { height: 1000px;
       width: 1200px;
       z-index: 1;
}

.leaflet-tile {
    outline: 1px solid transparent;
}